@{
    ViewBag.Title = "HTP";
}

<div id="HTPBG" class="col-sm-offset-1 col-sm-10 Stat_Top">
    <div class="HTPInfo">
        <h2 class="upupup">How -your website- work?</h2>
        <hr />
        <p class="left">
            - Players deposit skins into a round.
            <br /><br />
            - Each player is given 1 ticket for every $0.01 of skin value deposited (more tickets = higher % chance of winning).
            <br /><br />
            - Once 100 total skins have been deposited, some last offers are accepted and the round closes.
            <br /><br />
            - A winner is then selected using our Provably Fair system.
            <br /><br />
            - Wonned skins are then sent to the winning player (YOURWEBSITE takes approximately 5%).
            <br /><br />
        </p>
        <h2 class="upupup TopPush">how to start playing</h2>
        <hr />
        <p class="left">
            - Sign in with your Steam account.
            <br /><br />
            - Setup your <b>trade link</b> in your settings (for receiving winnings).
            <br /><br />
            - Click on "Deposit Items" and select your skins you want to enter with.
            <br /><br />
            - Once you reach the top of the queue, your items are put in the round.
            <br /><br />
            - Wait for the maximum limit of skins to be reached and the winner to be announced.
            <br /><br />
            - Accept your winnings by finding the trade in your trade offers.
        </p>
    </div>
</div>